<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <!-- 1.获取key -->
      <ul>
        <li v-for="n in message">{{n}}</li>
      </ul>
      <!-- 2.获取key&value 格式:(value,key)-->
      <ul>
        <li v-for="(value,key) in message">{{key}}:{{value}}</li>
      </ul>
      <!-- 3.获取key&value&index 格式:(value,key,index)-->
      <ul>
        <li v-for="(value,key,index) in message">
          {{index+1}}. {{key}}:{{value}}
        </li>
      </ul>
    </div>

    <script src="../vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: {
            name: "hua",
            age: 21,
            height: 1.82,
          },
        },
        methods: {},
      });
    </script>
  </body>
</html>
